<!-- Message file -->

<!-- signin -->
<div translate>Login Success</div>
<div translate>Login Fail</div>
<div translate>User Email Duplicated</div>

<!-- signup -->
<div translate>Signup Success</div>
<div translate>Signup Fail</div>

<!-- http status code -->
<div translate>You send a Bad Request. send the right thing.</div>
<div translate>Login Required. Or Your login info is expired.</div>
<div translate>Your Authorized is forbidden. Request the autorization to administrator.</div>
<div translate>Not found the content.</div>
<div translate>Internal Server Error</div>